body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.login-container,
.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.main-content {
    display: flex !important;
    flex-direction: column !important; /* 기본적으로 세로로 배치 */
    padding: 20px;
    gap: 20px;
}

.raid-table,
.member-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.raid-table {
    flex: 1;
}

.member-list {
    flex: 1;
}

.raid-table,
.member-list {
  flex-grow: 1;
  flex-shrink: 1;
}

.raid-table table,
.member-list table {
    width: 100%;
    border-collapse: collapse;
}

.raid-table th,
.raid-table td,
.member-list th,
.member-list td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    margin-top: 4px;
    margin-right: 4px;
    align-content: end;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* 미디어 쿼리: 가로가 넓은 화면에서는 좌우로 배치 */
@media (min-width: 768px) {
    .main-content {
        flex-direction: row !important; /* 우선순위를 높이기 위해 !important 추가 */
    }

    .raid-table {
        flex: 2;
    }

    .member-list {
        flex: 1;
    }
}