body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 4em); /* header와 footer의 높이를 뺀 값 (1em + 1em) * 2 */
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
}

article, aside {
    border: 1px solid #000;
    padding: 1em;
    margin: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

article {
    flex: 3;
}

aside {
    flex: 1;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 0.5em;
    text-align: left;
}

button {
    margin: 1em;
    padding: 0.5em 1em;
}

#addMember {
    display: none;
    margin: 0;
    padding: 0.5em;
}

#addMemberContainer {
    list-style: none;
}

#memberList:hover #addMember {
    display: inline-block;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#searchId {
    width: calc(100% - 90px);
    margin-right: 10px;
}

#searchButton {
    padding: 0.5em;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Media Queries */
@media (min-width: 512px) {
    main {
        flex-direction: row;
    }

    article, aside {
        width: 45%;
    }
}

@media (max-width: 512px) {
    main {
        flex-direction: column;
    }

    article, aside {
        width: 100%;
    }
}
