{% extends "layout.html" %}

{% block content %}
<article>
    <h2>1 테이블(레이드) 섹션</h2>
    <button id="addRaid">레이드 추가</button>
    <table id="raidTable">
        <thead>
            <tr>
                <th>레이드 이름</th>
                <th>날짜</th>
                <th>시간</th>
                <th>크기</th>
                <th>참가자</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <!-- 동적으로 추가될 레이드 섹션 -->
        </tbody>
    </table>
</article>
<aside>
    <h2>2 캐릭터 목록</h2>
    <ul id="memberList">
        <!-- 동적으로 추가될 캐릭터 목록 -->
        <li id="addMemberContainer">
            <button id="addMember">+</button>
        </li>
    </ul>
</aside>
{% endblock %}
